{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>VidaFarma - Estoque Geral</title>

    <!-- css -->
    <link rel="stylesheet" href="{% static 'css/estoque.css' %}">

    <!-- fonte -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- ícones -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

</head>

<body>

    <div class="container">

        <!-- sidebar -->
        <aside class="sidebar">

            <div class="sidebar-logo"></div>

            <nav class="menu">

                <a href="{% url 'home' %}">
                    <i class="fa-solid fa-table-columns"></i>
                    Dashboard
                </a>

                <a href="{% url 'produtos' %}">
                    <i class="fa-solid fa-pills"></i>
                    Produtos
                </a>

                <a href="{% url 'estoque' %}" class="active">
                    <i class="fa-solid fa-boxes-stacked"></i>
                    Estoque Geral
                </a>

                <a href="{% url 'controle' %}">
                    <i class="fa-solid fa-layer-group"></i>
                    Controle de Lotes
                </a>

                <a href="{% url 'movimentacoes' %}">
                    <i class="fa-solid fa-arrow-right-arrow-left"></i>
                    Movimentações
                </a>

            </nav>

            <div class="logout">

                <a href="{% url 'logout' %}" onclick="return confirm('Tem certeza que deseja sair?');">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    Sair
                </a>

            </div>

        </aside>

        <!-- conteúdo -->
        <main class="content">

            <!-- topo -->
            <header class="topbar">

                <div class="top-left">

                    <img src="{% static 'img/logo.png' %}" alt="Logo">

                </div>

                <div class="top-right">

                    <div class="user-info">

                        <strong>{{ request.user.funcionario.nome }} {{ request.user.funcionario.sobrenome }}</strong>
                        <span>{{ request.user.funcionario.cargo }}</span>

                    </div>

                    <div class="user-photo">

                        <i class="fa-solid fa-user"></i>

                    </div>

                </div>

            </header>

            <!-- dashboard -->
            <div class="dashboard">

                <!-- título -->
                <div class="page-title">

                    <h1>Estoque Geral</h1>

                    <p>
                        Controle completo dos produtos em estoque
                    </p>

                </div>

                <!-- cards -->
                <div class="cards">

    <div class="card">

        <div class="card-icon blue">
            <i class="fa-solid fa-cube"></i>
        </div>

        <h3>Produtos Cadastrados</h3>
        <h2>{{ total_produtos }}</h2>

        <p>Total de produtos</p>

    </div>

    <div class="card">

        <div class="card-icon green">
            <i class="fa-solid fa-chart-column"></i>
        </div>

        <h3>Valor Total do Estoque</h3>
        <h2>R$ {{ valor_total }}</h2>

        <p>Valor estimado</p>

    </div>

    <div class="card">

        <div class="card-icon yellow">
            <i class="fa-solid fa-triangle-exclamation"></i>
        </div>

        <h3>Estoque Baixo</h3>
        <h2>{{ estoque_baixo }}</h2>

        <p>Produtos abaixo do mínimo</p>

    </div>

    <div class="card">

        <div class="card-icon red">
            <i class="fa-regular fa-calendar-xmark"></i>
        </div>

        <h3>Vencem em 30 dias</h3>
        <h2>{{ vencem_30_dias }}</h2>

        <p>Produtos próximos do vencimento</p>
    </div>

</div>

              <!-- tabela -->
<div class="table-section">

    <!-- filtros -->
    <div class="table-filters">

        <div class="search-box">

            <i class="fa-solid fa-magnifying-glass"></i>

            <form method="GET" id="formPesquisa">

                <input
                    type="text"
                    name="pesquisa"
                    placeholder="Buscar produto, lote ou código..."
                    value="{{ request.GET.pesquisa }}">

            </form>

        </div>

        <div class="filter-group">

            <form method="GET">

                <select
                    name="categoria_filtro"
                    onchange="this.form.submit()">

                    <option value="">
                        Todas Categorias
                    </option>

                    {% for categoria in categorias %}

                    <option
                        value="{{ categoria.id_categoria }}"

                        {% if request.GET.categoria_filtro == categoria.id_categoria|stringformat:"s" %}
                        selected
                        {% endif %}>

                        {{ categoria.nome_cat }}

                    </option>

                    {% endfor %}

                </select>

            </form>

        </div>

    </div>
                    <!-- tabela -->
                    <table>

                        <thead>

                            <tr>

                                <th>Código</th>
                                <th>Produto</th>
                                <th>Categoria</th>
                                <th>Lote</th>
                                <th>Validade</th>
                                <th>Estoque Atual</th>
                                <th>Unidade</th>
                                <th>Preço</th>

                            </tr>

                        </thead>

<tbody>

    {% for produto in produtos %}

    <tr>

        <td>{{ produto.cod_prod }}</td>

        <td>
            <div class="product-info">
                <strong>{{ produto.nom_produto }}</strong>
            </div>
        </td>

        <td>
            <span class="badge blue-badge">
                {{ produto.categoria.nome_cat }}
            </span>
        </td>

        <td>
            {% with lote=produto.lote_set.first %}
                {% if lote %}
                    {{ lote.id_lote }}
                {% else %}
                    Sem lote
                {% endif %}
            {% endwith %}
        </td>

        <td>
            {% with lote=produto.lote_set.first %}
                {% if lote %}
                    {{ lote.validade|date:"d/m/Y" }}
                {% else %}
                    -
                {% endif %}
            {% endwith %}
        </td>

        <td class="stock blue-stock">
            {{ produto.qtd_est }}
        </td>

        <td>Caixa</td>

        <td>
            <span class="preco">
                R$ {{ produto.preco }}
            </span>
        </td>

    </tr>

    {% empty %}

    <tr>
        <td colspan="8">
            Nenhum produto encontrado.
        </td>
    </tr>

    {% endfor %}

</tbody>
            </table>
                    <div class="pagination">

    {% if produtos.has_previous %}
        <a href="?page={{ produtos.previous_page_number }}">
            <i class="fa-solid fa-chevron-left"></i>
        </a>
    {% endif %}

    {% for num in produtos.paginator.page_range %}

        {% if produtos.number == num %}
            <span class="active-page">{{ num }}</span>
        {% else %}
            <a href="?page={{ num }}">{{ num }}</a>
        {% endif %}

    {% endfor %}

    {% if produtos.has_next %}
        <a href="?page={{ produtos.next_page_number }}">
            <i class="fa-solid fa-chevron-right"></i>
        </a>
    {% endif %}

</div>
                    <!-- rodapé -->
                    <div class="table-footer">

                    </div>

                </div>
                
            </div>

        </main>

</div>
        <script>
        
        document.querySelector(
            'input[name="pesquisa"]'
        ).addEventListener("keyup", function(event){
        
            if(event.key === "Enter"){
            
                document.getElementById(
                    "formPesquisa"
                ).submit();
            
            }
        
        });

</script>

</body>
</html>