{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <link rel="icon" href="{% static 'img/logo.png' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>VidaFarma</title>

    <!-- css -->
    <link rel="stylesheet" href="{% static 'css/home.css' %}">

    <!-- fonte -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- ícones -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

</head>

<body>

    <!-- container principal -->
    <div class="container">

        <!-- sidebar -->
        <aside class="sidebar">

            <!-- logo -->
            <div class="sidebar-logo">

                

        </div>

            <!-- menu lateral -->
            <nav class="menu">

                <a href="{% url 'home' %}" class="active">
                    <i class="fa-solid fa-table-columns"></i>
                    Dashboard
                </a>

                <a href="{% url 'produtos' %}">
                    <i class="fa-solid fa-pills"></i>
                    Produtos
                </a>

                <a href="{% url 'estoque' %}">
                    <i class="fa-solid fa-boxes-stacked"></i>
                    Estoque Geral
                </a>

                <a href="{% url 'controle' %}">
                    <i class="fa-solid fa-layer-group"></i>
                    Controle de Lotes
                </a>

                <a href="{% url 'movimentacoes' %}">
                    <i class="fa-solid fa-arrow-right-arrow-left"></i>
                    Movimentações
                </a>

            </nav>

            <!-- botão sair -->
            <div class="logout">

                <a href="{% url 'logout' %}" onclick="return confirm('Tem certeza que deseja sair?');">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    Sair
                </a>

            </div>

        </aside>

        <!-- conteúdo -->
        <main class="content">

            <!-- topo -->
            <header class="topbar">

                <!-- lado esquerdo -->
                <div class="top-left">
                   

                    <img src="{% static 'img/logo.png' %}" alt="Logo">

                </div>

                <!-- lado direito -->
                <div class="top-right">

                    <!-- infos do usuário -->
                    <div class="user-info">

                        <strong>{{ request.user.funcionario.nome }} {{ request.user.funcionario.sobrenome }}</strong>
                        <span>{{ request.user.funcionario.cargo }}</span>

                    </div>

                    <!-- bolinha do usuário -->
                    <div class="user-photo">

                        <i class="fa-solid fa-user"></i>

                    </div>

                </div>

            </header>

            <!-- conteúdo interno -->
            <div class="dashboard">

                <!-- título -->
                <div class="page-title">

                    <h1>Dashboard</h1>

                    <p>
                        Visão geral do estoque e alertas importantes
                    </p>

                </div>

                <!-- cards -->
                <div class="cards">

                    <!-- card -->
                    <div class="card">

                        <div class="card-icon blue">
                            <i class="fa-solid fa-capsules"></i>
                        </div>

                        <h3>Produtos Cadastrados</h3>

                        <h2><h2>{{ total_produtos }}</h2>


                        <a href="{% url 'produtos' %}">+ Ver todos</a>

                    </div>

                    <!-- card -->
                    <div class="card">

                        <div class="card-icon green">
                            <i class="fa-solid fa-box-open"></i>
                        </div>

                        <h3>Lotes Ativos</h3>

                        <h2>{{ total_lotes }}</h2>
                        <a href="{% url 'controle' %}">+ Ver todos</a>

                    </div>

                    <!-- card -->
                    <div class="card">

                        <div class="card-icon yellow">
                            <i class="fa-solid fa-triangle-exclamation"></i>
                        </div>

                        <h3>Estoque Baixo</h3>

                        <h2>{{ estoque_baixo }}</h2>
                        <a href="{% url 'estoque' %}">+ Ver todos</a>

                    </div>

                    <!-- card -->
                    <div class="card">

                        <div class="card-icon red">
                            <i class="fa-regular fa-calendar-xmark"></i>
                        </div>

                        <h3>Vencem em 30 dias</h3>
                        <h2>{{ vencem_30_dias }}</h2>

                        <a href="{% url 'controle' %}">+ Ver todos</a>

                    </div>

                </div>

                <!-- tabela -->
                <div class="table-section">

                    <!-- topo da tabela -->
                    <div class="table-header">

                        <h2>Últimas Movimentações</h2>

                        <a href="#">Ver todas</a>

                    </div>

                    <!-- tabela -->
                    <table>

                        <thead>

                            <tr>

                                <th>Data/Hora</th>
                                <th>Tipo</th>
                                <th>Produto</th>
                                <th>Lote</th>
                                <th>Qtd.</th>
                                <th>Usuário</th>

                            </tr>

                        </thead>

                        <tbody>

    {% for mov in ultimas_movimentacoes %}

        <tr>

            <td>{{ mov.data|date:"d/m/Y" }}</td>

            <td class="{{ mov.tipo }}">
                {{ mov.get_tipo_display|upper }}
            </td>

            <td>
                {{ mov.lote.produto.nom_produto }}
            </td>

            <td>
                {{ mov.lote.id_lote }}
            </td>

            <td>
                {{ mov.quantidade }}
            </td>

            <td>
                {{ mov.funcionario.nome }} {{ mov.funcionario.sobrenome }}
            </td>

        </tr>

    {% empty %}

        <tr>
            <td colspan="6">
                Nenhuma movimentação registrada.
            </td>
        </tr>

    {% endfor %}

</tbody>

                    </table>

                </div>


                </div>

            </div>

        </main>

    </div>

</body>
</html>