{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>VidaFarma - Login</title>

    <link rel="icon" href="{% static 'css/login.css' %}">

    <!-- css -->
    <link rel="stylesheet" href="{% static 'css/login.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <!-- fonte -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">

</head>

<body>

    <!-- container principal -->
    <div class="container">

        <!-- lado esquerdo -->
        <div class="left-side">

            <!-- camada escura da imagem -->
            <div class="overlay"></div>

            <!-- imagem principal -->
            <img src="{% static 'img/farmaceuticos.png' %}" alt="Farmacêuticos" class="background-image">

        </div>

        <!-- lado direito -->
        <div class="right-side">
            <!-- caixa do login -->
     

        <form method="POST" class="login-box">
                {% csrf_token %}

            <!-- logo -->
            <img src="{% static 'img/logo.png' %}" alt="Logo VidaFarma" class="logo">
                        
            <!-- matrícula -->
            <label for="matricula">
            Digite sua matrícula:
            </label>
        
            <div class="input-box">
            
                <span class="icon"></span>
            
                <input type="text"
                       name="matricula"
                       id="matricula"
                       placeholder="Ex:123456">
            
            </div>
        
            <!-- senha -->.
            <label for="senha">
            Digite sua senha:
            </label>
        
            <div class="input-box">
            
                <span class="icon"></span>

        <input type="password"
               name="senha"
               id="senha"
               placeholder="Digite sua senha">

        <i class="fa-solid fa-eye toggle-password"
           id="iconeSenha"
           onclick="mostrarSenha()"></i>
           

    </div>
    {% if erro %}

    <p>{{ erro }}</p>

    {% endif %}

    <!-- botão -->
    <button type="submit">
        Acessar
    </button>
</form>
                

               
                
            </div>

        </div>

    </div>

    <!-- barra azul inferior -->
    <div class="bottom-bar">

        <p>
            Uso exclusivo para colaboradores autorizados.
        </p>

        <!-- links -->
        <div class="footer-links">

            <a href="#">
                Política de Privacidade
            </a>

            <span>-</span>

            <a href="#">
                Termos de Uso
            </a>

        </div>

    </div>

    <script>

    // mostrar ou esconder senha
   function mostrarSenha() {

    const input = document.getElementById("senha");
    const icone = document.getElementById("iconeSenha");

    const senhaVisivel = input.type === "text";

    input.type = senhaVisivel ? "password" : "text";

    icone.classList.toggle("fa-eye");
    icone.classList.toggle("fa-eye-slash");

}
    </script>

</body>
</html>