{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>VidaFarma</title>

    <!-- css -->
    <link rel="stylesheet" href="{% static 'css/movimentacoes.css' %}">

    <!-- fonte -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- ícones -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

</head>

<body>

    <div class="container">

        <!-- sidebar -->
        <aside class="sidebar">

            <div class="sidebar-logo"></div>

            <nav class="menu">

                <a href="{% url 'home' %}">
                    <i class="fa-solid fa-table-columns"></i>
                    Dashboard
                </a>

                <a href="{% url 'produtos' %}">
                    <i class="fa-solid fa-pills"></i>
                    Produtos
                </a>

                <a href="{% url 'estoque' %}">
                    <i class="fa-solid fa-boxes-stacked"></i>
                    Estoque Geral
                </a>

                <a href="{% url 'controle' %}">
                    <i class="fa-solid fa-layer-group"></i>
                    Controle de Lotes
                </a>

                <a href="{% url 'movimentacoes' %}" class="active">
                    <i class="fa-solid fa-arrow-right-arrow-left"></i>
                    Movimentações
                </a>

            </nav>

            <div class="logout">

                <a href="{% url 'logout' %}" onclick="return confirm('Tem certeza que deseja sair?')">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    Sair
                </a>

            </div>

        </aside>

        <!-- conteúdo -->
        <main class="content">

            <!-- topbar -->
            <header class="topbar">

                <div class="top-left">

                    <img src="{% static 'img/logo.png' %}" alt="Logo">

                </div>

                <div class="top-right">

                    <div class="user-info">

                        <strong>{{ request.user.funcionario.nome }} {{ request.user.funcionario.sobrenome }}</strong>
                        <span>{{ request.user.funcionario.cargo }}</span>

                    </div>

                    <div class="user-photo">

                        <i class="fa-solid fa-user"></i>

                    </div>

                </div>

            </header>

            <!-- dashboard -->
<div class="dashboard">

    <!-- título + botão -->
    <div class="page-header">

    <div>

        <h1>Movimentações</h1>

        {% if messages %}

            {% for message in messages %}

                <div class="alerta">

                    {{ message }}

                </div>

            {% endfor %}

        {% endif %}

    </div>

    <button
        class="new-product-btn"
        onclick="abrirPainelMovimentacao()">

        <i class="fa-solid fa-plus"></i>
        Realizar Movimentação

    </button>

</div>

    <div class="overlay" id="overlay"></div>
    <div class="painel-movimentacao" id="painelMovimentacao">

        <h2>Nova Movimentação</h2>

        <form method="POST">

            {% csrf_token %}

            <div class="form-group">

                <label>Lote</label>

                <select name="lote" required>

                    {% for lote in lotes %}

                    <option value="{{ lote.id_lote }}">

                        {{ lote.id_lote }} -
                        {{ lote.produto.nom_produto }}

                    </option>

                    {% endfor %}

                </select>

            </div>

            <div class="form-group">

                <label>Tipo</label>

                <select name="tipo" required>
                    <option value="saida">
                        Saída
                    </option>

                </select>

            </div>

            <div class="form-group">

                <label>Motivo</label>

                <select name="motivo" required>

                    <option value="venda">
                        Venda
                    </option>

                    <option value="devolucao">
                        Devolução
                    </option>

                    <option value="vencido">
                        Produto Vencido
                    </option>

                </select>

            </div>

            <div class="form-group">

                <label>Quantidade</label>

                <input
                    type="number"
                    name="quantidade"
                    min="1"
                    required>

            </div>

            <div class="form-group">

                <label>Funcionário</label>

                <input
                    type="text"
                    value="{{ request.user.funcionario.nome }} {{ request.user.funcionario.sobrenome }}"
                    readonly>

            </div>

            <div class="form-group">

                <label>Data</label>

                <input
                    type="text"
                    value="{% now 'd/m/Y' %}"
                    readonly>

            </div>

            <div class="botoes-form">

                <button
                    type="button"
                    onclick="fecharPainelMovimentacao()">

                    Cancelar

                </button>

                <button type="submit">

                    Salvar Movimentação

                </button>

            </div>

        </form>

    </div>

                <!-- cards -->
                <div class="cards">

                    <div class="card">

                        <div class="card-icon green">
                            <i class="fa-solid fa-arrow-down"></i>
                        </div>

                        <h3>Total de Entradas</h3>
                        <h2>{{ total_entradas }}</h2>
                    </div>

                    <div class="card">

                        <div class="card-icon red">
                            <i class="fa-solid fa-arrow-up"></i>
                        </div>

                        <h3>Total de Saídas</h3>
                        <h2>{{ total_saidas }}</h2>

                    </div>

                    <div class="card">

                        <div class="card-icon blue">
                            <i class="fa-solid fa-pen"></i>
                        </div>

                        <h3>Total Movimentações</h3>
                        <h2>{{ total_movimentacoes }}</h2>

                    </div>

                    <div class="card">

                        <div class="card-icon purple">
                            <i class="fa-solid fa-money-bill-wave"></i>
                        </div>

                        <h3>Valor Movimentado</h3>
                        <h2>R$ {{ valor_movimentado }}</h2>

                    </div>

                </div>

                <!-- tabela -->
                <div class="table-section">

                <div class="table-filters">

             <div class="search-box">

                 <i class="fa-solid fa-magnifying-glass"></i>

                 <form method="GET" id="formPesquisa">

                     <input
                         type="text"
                         name="pesquisa"
                         placeholder="Buscar por lote, motivo..."
                         value="{{ request.GET.pesquisa }}">

                 </form>
             
             </div>
         
             <div class="filter-group">

                 <form method="GET">

                     <select
                         name="funcionario_filtro"
                         onchange="this.form.submit()">

                         <option value="">
                             Todos Funcionários
                         </option>
                     
                         {% for funcionario in funcionarios %}
                     
                         <option
                             value="{{ funcionario.matricula }}"
                     
                             {% if request.GET.funcionario_filtro == funcionario.matricula %}
                             selected
                             {% endif %}>
                     
                             {{ funcionario.nome }}
                             {{ funcionario.sobrenome }}
                     
                         </option>
                     
                         {% endfor %}
                     
                     </select>
                 
                 </form>
             
             </div>

        </div>

    </div>

            <div class="tabs">

                <a href="{% url 'movimentacoes' %}" class="tab-btn">
                    Todas
                </a>
            
                <a href="?tipo=entrada" class="tab-btn">
                    Entradas
                </a>
            
                <a href="?tipo=saida" class="tab-btn">
                    Saídas
                </a>
            
            </div>
                    <!-- tabela -->
                    <table>

                        <thead>

                            <tr>

                                <th>Data</th>
                                <th>Tipo</th>
                                <th>Produto</th>
                                <th>Lote</th>
                                <th>Quantidade</th>
                                <th>Usuário</th>
                                <th>Motivo</th>
                                

                            </tr>

                        </thead>

                        <tbody>

    {% for mov in movimentacoes %}

    <tr>

        <td>
            {{ mov.data|date:"d/m/Y" }}
        </td>

        <td>

            {% if mov.tipo == "entrada" %}

                <span class="badge green-badge">
                    Entrada
                </span>

            {% else %}

                <span class="badge red-badge">
                    Saída
                </span>

            {% endif %}

        </td>

        <td>
            {{ mov.lote.produto.nom_produto }}
        </td>

        <td>
            {{ mov.lote.id_lote }}
        </td>

        <td>

            {% if mov.tipo == "entrada" %}

                <span class="green-stock">
                    +{{ mov.quantidade }}
                </span>

            {% else %}

                <span class="red-stock">
                    -{{ mov.quantidade }}
                </span>

            {% endif %}

        </td>

        <td>
            {{ mov.funcionario.nome }}
            {{ mov.funcionario.sobrenome }}
        </td>

        <td>
            {{ mov.get_motivo_display }}
        </td>
    </tr>

    {% empty %}

    <tr>

        <td colspan="8">
            Nenhuma movimentação cadastrada.
        </td>

    </tr>

    {% endfor %}

</tbody>

</table>


                </div>

            </div>

        </main>

    </div>
    <script>

    document.querySelector(
    'input[name="pesquisa"]'
).addEventListener("keyup", function(event){

    if(event.key === "Enter"){

        document.getElementById(
            "formPesquisa"
        ).submit();

    }

});
        function abrirPainelMovimentacao() {
            document.getElementById('painelMovimentacao').style.display = 'block';
            document.getElementById('overlay').style.display = 'block';
        }

        function fecharPainelMovimentacao() {
            document.getElementById('painelMovimentacao').style.display = 'none';
            document.getElementById('overlay').style.display = 'none';
        }
    </script>
</body>
</html>