{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>VidaFarma - Produtos</title>

    <!-- css -->
    <link rel="stylesheet" href="{% static 'css/produtos.css' %}">

    <!-- fonte -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- ícones -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

</head>

<body>

    <div class="container">

        <!-- sidebar -->
        <aside class="sidebar">

            <div class="sidebar-logo"></div>

            <nav class="menu">

                <a href="{% url 'home' %}">
                    <i class="fa-solid fa-table-columns"></i>
                    Dashboard
                </a>

                <a href="{% url 'produtos' %}" class="active">
                    <i class="fa-solid fa-pills"></i>
                    Produtos
                </a>

                <a href="{% url 'estoque' %}">
                    <i class="fa-solid fa-boxes-stacked"></i>
                    Estoque Geral
                </a>

                <a href="{% url 'controle' %}">
                    <i class="fa-solid fa-layer-group"></i>
                    Controle de Lotes
                </a>

                <a href="{% url 'movimentacoes' %}">
                    <i class="fa-solid fa-arrow-right-arrow-left"></i>
                    Movimentações
                </a>

            </nav>

            <div class="logout">

                <a href="{% url 'logout' %}">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    Sair
                </a>

            </div>

        </aside>

        <!-- conteúdo -->
        <main class="content">

            <!-- topo -->
            <header class="topbar">

                <div class="top-left">

                    <img src="../static/img/logo.png" alt="Logo">

                </div>

                <div class="top-right">

                    <div class="user-info">

                        <strong>{{ request.user.funcionario.nome }} {{ request.user.funcionario.sobrenome }}</strong>
                        <span>{{ request.user.funcionario.cargo }}</span>

                    </div>

                    <div class="user-photo">

                        <i class="fa-solid fa-user"></i>

                    </div>

                </div>

            </header>

            <!-- conteúdo interno -->
            <div class="dashboard">

                <!-- topo -->
                <div class="page-header">

                    <div>

                        <h1>Produtos</h1>

                    </div>

                   <button type="button" class="new-product-btn" onclick="abrirPainelProduto()">

                            <i class="fa-solid fa-plus"></i>
                            Novo Produto
                            </button>
                </div>
        <div id="overlay" class="overlay"></div>

<div id="painelProduto" class="painel-produto">

    <h2>Cadastrar Produto</h2>

    <form method="POST">

        {% csrf_token %}

        <div class="form-group">

            <label>Código do Produto</label>

            <input
                type="text"
                name="cod_prod"
                required>

        </div>

        <div class="form-group">

            <label>Nome do Produto</label>

            <input
                type="text"
                name="nom_produto"
                required>

        </div>

        <div class="form-group">

            <label>Preço</label>

            <input
                type="number"
                step="0.01"
                name="preco"
                required>

        </div>

        <div class="form-group">

            <label>Categoria</label>

            <select
                name="categoria"
                required>

                {% for categoria in categorias %}

                    <option value="{{ categoria.id_categoria }}">
                        {{ categoria.nome_cat }}
                    </option>

                {% endfor %}

            </select>

        </div>

        <div class="botoes-form">

            <button
                type="button"
                class="cancel-btn"
                onclick="fecharPainelProduto()">

                Cancelar

            </button>

            <button
                type="submit"
                class="save-btn">

                Salvar Produto

            </button>
        </div>

    </form>

</div>
                <!-- cards -->
                <div class="cards">

                    <div class="card">

                        <div class="card-icon blue">
                            <i class="fa-solid fa-capsules"></i>
                        </div>

                        <h3>Total de Produtos</h3>
                        <h2>{{ total_produtos }}</h2>

                    </div>

                    <div class="card">

                        <div class="card-icon green">
                            <i class="fa-solid fa-circle-check"></i>
                        </div>

                        <h3>Produtos Ativos</h3>
                        <h2>{{ produtos_ativos }}</h2>

                    </div>

                    <div class="card">

                        <div class="card-icon yellow">
                            <i class="fa-solid fa-triangle-exclamation"></i>
                        </div>

                        <h3>Estoque Baixo</h3>
                        <h2>{{ estoque_baixo }}</h2>

                    </div>

                    <div class="card">

                        <div class="card-icon red">
                            <i class="fa-regular fa-calendar-xmark"></i>
                        </div>

                        <h3>Vencem em 30 dias</h3>
                        <h2>{{ vencem_30_dias }}</h2>

                    </div>

                </div>

                <!-- tabela -->
                <div class="table-section">

                    <!-- topo tabela -->
                    <div class="table-top">

                        <!-- pesquisa -->
                       <div class="search-box">

                            <i class="fa-solid fa-magnifying-glass"></i>

                                <form method="GET" id="formPesquisa">

                                 <input
                                    type="text"
                                    name="pesquisa"
                                    placeholder="Pesquisar produto..."
                                    value="{{ request.GET.pesquisa }}">
                                            
                                </form>

                        </div>
                        <!-- filtros -->
                        <div class="filters">

                            <form method="GET">

                            <select name="categoria_filtro" onchange="this.form.submit()">

                            <option value="">
                            Todas Categorias
                                </option>

                        {% for categoria in categorias %}

                            <option
                            value="{{ categoria.id_categoria }}"
                            {% if request.GET.categoria_filtro == categoria.id_categoria|stringformat:"s" %}
                            selected
                            {% endif %}
                >

                        {{ categoria.nome_cat }}

                            </option>

                            {% endfor %}

        </select>

        <select name="status_filtro" onchange="this.form.submit()">

            <option value="">
                Todos Status
            </option>

            <option value="ativo">
                Ativo
            </option>

            <option value="inativo">
                Inativo
            </option>

        </select>

    </form>

</div>
                        
                        </div>

                    </div>

                   <table>

    <thead>

        <tr>

            <th>Código</th>
            <th>Produto</th>
            <th>Categoria</th>
            <th>Preço</th>
            <th>Estoque</th>
            <th>Status</th>

        </tr>

    </thead>

    <tbody>

        {% for produto in produtos %}

        <tr>

            <td>

                {{ produto.cod_prod }}

            </td>

            <td>

                <div class="product-info">

                    <div class="product-image">
                        <i class="fa-solid fa-pills"></i>
                    </div>

                    <div>

                        <strong>
                            {{ produto.nom_produto }}
                        </strong>

                    </div>

                </div>

            </td>

            <td>

                <span class="badge blue-badge">
                    {{ produto.categoria.nome_cat }}
                </span>

            </td>

            <td>

                R$ {{ produto.preco }}

            </td>

            <td>

                {{ produto.qtd_est }}

            </td>

            <td>

                {% if produto.qtd_est > 0 %}

                    <span class="status active-status">
                        Ativo
                    </span>

                {% else %}

                    <span class="status inactive-status">
                        Inativo
                    </span>

                {% endif %}

            </td>

        </tr>

        {% empty %}

        <tr>

            <td colspan="6">
                Nenhum produto cadastrado.
            </td>

        </tr>

        {% endfor %}

    </tbody>

</table>
    <div class="pagination">

    {% if produtos.has_previous %}

        <a href="?page={{ produtos.previous_page_number }}">
            <i class="fa-solid fa-chevron-left"></i>
        </a>

    {% endif %}

    {% for num in produtos.paginator.page_range %}

        {% if produtos.number == num %}

            <span class="active-page">
                {{ num }}
            </span>

        {% else %}

            <a href="?page={{ num }}">
                {{ num }}
            </a>

        {% endif %}

    {% endfor %}

    {% if produtos.has_next %}

        <a href="?page={{ produtos.next_page_number }}">
            <i class="fa-solid fa-chevron-right"></i>
        </a>

    {% endif %}

</div>

                </div>

            </div>

        </main>

    </div>

    <script>

document.querySelector(
    'input[name="pesquisa"]'
).addEventListener("keyup", function(event){

    if(event.key === "Enter"){

        document.getElementById(
            "formPesquisa"
        ).submit();

    }

});        

function abrirPainelProduto() {

    document.getElementById("painelProduto").style.display = "block";

    document.getElementById("overlay").style.display = "block";

}

function fecharPainelProduto() {

    document.getElementById("painelProduto").style.display = "none";

    document.getElementById("overlay").style.display = "none";

}

</script>

</body>
</html>