{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>VidaFarma - Produtos</title>

    <!-- css -->
    <link rel="stylesheet" href="{% static 'css/produtos.css' %}">

    <!-- fonte -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- ícones -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

</head>

<body>

    <div class="container">

        <!-- sidebar -->
        <aside class="sidebar">

            <div class="sidebar-logo"></div>

            <nav class="menu">

                <a href="{% url 'home' %}">
                    <i class="fa-solid fa-table-columns"></i>
                    Dashboard
                </a>

                <a href="{% url 'produtos' %}" class="active">
                    <i class="fa-solid fa-pills"></i>
                    Produtos
                </a>

                <a href="{% url 'estoque' %}">
                    <i class="fa-solid fa-boxes-stacked"></i>
                    Estoque Geral
                </a>

                <a href="{% url 'controle' %}">
                    <i class="fa-solid fa-layer-group"></i>
                    Controle de Lotes
                </a>

                <a href="{% url 'movimentacoes' %}">
                    <i class="fa-solid fa-arrow-right-arrow-left"></i>
                    Movimentações
                </a>

            </nav>

            <div class="logout">

                <a href="{% url 'login' %}">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    Sair
                </a>

            </div>

        </aside>

        <!-- conteúdo -->
        <main class="content">

            <!-- topo -->
            <header class="topbar">

                <div class="top-left">

                    <img src="../static/img/logo.png" alt="Logo">

                </div>

                <div class="top-right">

                    <div class="user-info">

                        <strong>George Henrique</strong>
                        <span>Gerente Geral</span>

                    </div>

                    <div class="user-photo">

                        <i class="fa-solid fa-user"></i>

                    </div>

                </div>

            </header>

            <!-- conteúdo interno -->
            <div class="dashboard">

                <!-- topo -->
                <div class="page-header">

                    <div>

                        <h1>Produtos</h1>

                        <p>
                            Gerencie os medicamentos cadastrados no sistema
                        </p>

                    </div>

                    <button class="new-product-btn">

                        <i class="fa-solid fa-plus"></i>
                        Novo Produto

                    </button>

                </div>

                <!-- cards -->
                <div class="cards">

                    <div class="card">

                        <div class="card-icon blue">
                            <i class="fa-solid fa-capsules"></i>
                        </div>

                        <h3>Total de Produtos</h3>
                        <h2>1.230</h2>

                        <p>Produtos cadastrados</p>

                    </div>

                    <div class="card">

                        <div class="card-icon green">
                            <i class="fa-solid fa-circle-check"></i>
                        </div>

                        <h3>Produtos Ativos</h3>
                        <h2>1.102</h2>

                        <p>Disponíveis para movimentação</p>

                    </div>

                    <div class="card">

                        <div class="card-icon yellow">
                            <i class="fa-solid fa-triangle-exclamation"></i>
                        </div>

                        <h3>Estoque Baixo</h3>
                        <h2>22</h2>

                        <p>Necessitam reposição</p>

                    </div>

                    <div class="card">

                        <div class="card-icon red">
                            <i class="fa-solid fa-ban"></i>
                        </div>

                        <h3>Inativos</h3>
                        <h2>18</h2>

                        <p>Produtos desativados</p>

                    </div>

                </div>

                <!-- tabela -->
                <div class="table-section">

                    <!-- topo tabela -->
                    <div class="table-top">

                        <!-- pesquisa -->
                        <div class="search-box">

                            <i class="fa-solid fa-magnifying-glass"></i>

                            <input type="text" placeholder="Pesquisar produto...">

                        </div>

                        <!-- filtros -->
                        <div class="filters">

                            <select>
                                <option>Categoria</option>
                            </select>

                            <select>
                                <option>Status</option>
                            </select>

                        </div>

                    </div>

                    <!-- tabela -->
                    <table>

                        <thead>

                            <tr>

                                <th>Produto</th>
                                <th>Categoria</th>
                                <th>Estoque</th>
                                <th>Status</th>
                                <th>Validade</th>
                                <th>Ações</th>

                            </tr>

                        </thead>

                        <tbody>

                            <tr>

                                <td>

                                    <div class="product-info">

                                        <div class="product-image">
                                            <i class="fa-solid fa-pills"></i>
                                        </div>

                                        <div>

                                            <strong>
                                                DIPIRONA MONOIDRATADA 1G
                                            </strong>

                                            <span>
                                                500 comprimidos
                                            </span>

                                        </div>

                                    </div>

                                </td>

                                <td>
                                    <span class="badge blue-badge">
                                        Analgésico
                                    </span>
                                </td>

                                <td>420</td>

                                <td>
                                    <span class="status active-status">
                                        Ativo
                                    </span>
                                </td>

                                <td>12/11/2026</td>

                                <td>

                                    <div class="actions">

                                        <button>
                                            <i class="fa-solid fa-pen"></i>
                                        </button>

                                        <button>
                                            <i class="fa-solid fa-trash"></i>
                                        </button>

                                    </div>

                                </td>

                            </tr>

                            <tr>

                                <td>

                                    <div class="product-info">

                                        <div class="product-image">
                                            <i class="fa-solid fa-capsules"></i>
                                        </div>

                                        <div>

                                            <strong>
                                                AMOXICILINA 500MG
                                            </strong>

                                            <span>
                                                300 comprimidos
                                            </span>

                                        </div>

                                    </div>

                                </td>

                                <td>
                                    <span class="badge green-badge">
                                        Antibiótico
                                    </span>
                                </td>

                                <td>85</td>

                                <td>
                                    <span class="status active-status">
                                        Ativo
                                    </span>
                                </td>

                                <td>18/08/2026</td>

                                <td>

                                    <div class="actions">

                                        <button>
                                            <i class="fa-solid fa-pen"></i>
                                        </button>

                                        <button>
                                            <i class="fa-solid fa-trash"></i>
                                        </button>

                                    </div>

                                </td>

                            </tr>

                            <tr>

                                <td>

                                    <div class="product-info">

                                        <div class="product-image">
                                            <i class="fa-solid fa-tablets"></i>
                                        </div>

                                        <div>

                                            <strong>
                                                DEXALERT 6MG
                                            </strong>

                                            <span>
                                                30 comprimidos
                                            </span>

                                        </div>

                                    </div>

                                </td>

                                <td>
                                    <span class="badge red-badge">
                                        Controlado
                                    </span>
                                </td>

                                <td>12</td>

                                <td>
                                    <span class="status inactive-status">
                                        Inativo
                                    </span>
                                </td>

                                <td>09/06/2026</td>

                                <td>

                                    <div class="actions">

                                        <button>
                                            <i class="fa-solid fa-pen"></i>
                                        </button>

                                        <button>
                                            <i class="fa-solid fa-trash"></i>
                                        </button>

                                    </div>

                                </td>

                            </tr>

                        </tbody>

                    </table>

                </div>

            </div>

        </main>

    </div>

</body>
</html>